@charset "utf-8";
/* CSS Document */


/*#mainmenu{cursor: pointer;}*/
/*menu start*/


ul#mainmenu,ul#xmainmenu 
{
	padding:0px;
	margin:0px;
	width:100%;
	background-color:#666666;
	list-style:none;
	position:relative;
	justify-content: center;
	display: flex;
	padding-bottom: 5px;
    padding-top: 5px;
}

ul#mainmenu ul ,ul#xmainmenu ul 
{
	position:absolute;
	left:0;
	top:100%;
	display:none;
	padding:0px;
	margin:0px
}

ul#mainmenu li ,ul#xmainmenu li 
{
	display:inline;
	float:left;
	position:relative;
	border-style: solid;
    border-color: #c7c7c7;
    margin: 2px;
}

ul#mainmenu a ,ul#xmainmenu a 
{
	text-decoration:none;
	padding:10px 0px;
	width:100px;
	background:#666666;
	color:#ffffff;
	float:left;
	text-align:center;
	/*border:1px solid #ffffff;*/
}

ul#mainmenu a:hover,ul#xmainmenu a:hover 
{
	background:#cccccc;
	color:#333333
}

/*lv2*/
ul#mainmenu li:hover ul ,ul#xmainmenu li:hover ul 
{
	z-index:+1;
	display:block;
}

ul#mainmenu ul a ,ul#xmainmenu ul a 
{
	width:150px;
}

ul#mainmenu ul li ,ul#xmainmenu ul li 
{
	display:block;
	margin:0px
}
/*lv3*/
ul#mainmenu ul ul ,ul#xmainmenu ul ul 
{
	z-index:+2;
	top:0;
	left:100%;
}

ul#mainmenu li:hover ul ul ,ul#xmainmenu li:hover ul ul 
{
	display:none;
}

ul#mainmenu ul li:hover ul ,ul#xmainmenu ul li:hover ul 
{
	display:block;
}
/*menu end*/


/*modal start*/

.modal
{
	position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.26);
    top: 0px;
    left: 0px;
    overflow: auto;
	animation-name: zoom;
    animation-duration: 0.6s;
	z-index:999;
}
@keyframes zoom 
{
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.close 
{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,.close:focus 
{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/*modal end*/

/*product start*/

[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
}

.hvr-bounce-in {
	display: inline-block;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	transition-duration: 0.5s;
	border-style: groove;
	border-color: black;
	border-width: 3px;
	width:20%;
	height:320px;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	border-style: groove;
	border-color: black;
	border-width: 3px;
	z-index:+1;
}
.product{
	height: 32px;
	overflow: hidden;
	margin: 5px 0 6px 0;
	position: relative;
	text-decoration: none;
	display: -webkit-box;
	text-align:left;
	ine-height: 30px;
    font-size: 30px;
}
.product::after {
    content: '';
    text-align: right;
    top: 0;
    right: 0;
    width: 25%;
    position: absolute;
    height: 100%;
    background: linear-gradient(to right,transparent,#fff 75%);
}
#fontStockLeft
{
	position:absolute;
	right:0px;	
}
.hvr-bounce-in:hover #fontStockLeft
{
	right:5%;
}
#divBuyIt
{
	width:70%;
	display:none;
	position:fixed;
	background-color:#f37022;
	color:#FFF;
	border-style:solid;
	border-width:2px;
	border-color:#FFF;
	bottom:2%;
	left:15%;
}

.hvr-bounce-in:hover #divBuyIt
{
	display:block;
	bottom: 20px;
}

.hvr-bounce-in:hover #divBuyIt:hover
{
	background-color:#FFF;
	color:#f37022;
	border-style:solid;
	border-width:2px;
	border-color:#f37022;
}
/*product end*/